/* Frame 1 */

.primer-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.page-1.frame-1 {
    background-color: #9d9c9c;
    position: relative;
    display: flex;
    width: 13vw;
    height: 31vh;
    bottom: 0%;
    margin-top: 1%;
    margin-left: 1%;
}

.page-1.frame-1 img:nth-child(1) {
    width: 100%;
    height: auto;
    right: 0%;
    bottom: 0%
}

.sol-content {
    width: 52%;
    height: 37%;
    position: absolute;
    right: 1%;
    top: 0%;
}

.page-1.frame-1 .sol-content img:nth-child(1) {
    width: 55%;
    height: auto;
    right: 4%;
    top: 6%
}

.nubes-content-frame-1 {
    position: absolute;
    width: 100%;
    height: 71%;
    right: 14%;
    bottom: 12%;
}

.page-1.frame-1 .nubes-content-frame-1 img:nth-child(1) {
    width: auto;
    height: 100%;
    left: 0%;
    bottom: 0%;
}

.escuela-content {
    position: absolute;
    width: 100%;
    height: 61%;
    right: 0%;
    bottom: 0%;
}

.page-1.frame-1 .escuela-content img:nth-child(1) {
    width: auto;
    height: 100%;
    left: -9%;
    bottom: 0%;
}

.compañeros-content {
    position: absolute;
    width: 100%;
    height: 34%;
    right: 0%;
    bottom: 17%;
}

.page-1.frame-1 .compañeros-content img:nth-child(1) {
    width: 45%;
    height: auto;
    right: 7%;
    bottom: 22%;
}

.arbol-vale {
    position: absolute;
    width: 100%;
    height: 67%;
    bottom: 0%;
    left: 0%;
}

.page-1.frame-1 .arbol-vale img:nth-child(1) {
    width: auto;
    height: 69%;
    bottom: 20%;
    left: 1%;
}

.page-1.frame-1 .arbol-vale img:nth-child(2) {
    width: auto;
    height: 29%;
    bottom: 5%;
    left: 14%;
}


/* Frame 2 */

.page-1.frame-2 {
    background-color: #9d9c9c;
    position: relative;
    width: 13vw;
    height: 31vh;
    bottom: 0%;
    margin-top: 1%;
    margin-left: 1%;
}

.page-1.frame-2 img:nth-child(1) {
    width: 100%;
    height: auto;
    bottom: 0%;
    right: 0%;
}

.nubes-content-frame-2 {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 26%;
    right: 0%;
}

.page-1.frame-2 .nubes-content-frame-2 img:nth-child(1) {
    width: 114%;
    height: 93%;
    bottom: 5%;
    left: 0%;
}

.cesped-content {
    position: absolute;
    width: 100%;
    height: 47%;
    bottom: 0%;
    right: 0%;
}

.page-1.frame-2 .cesped-content img:nth-child(1) {
    width: auto;
    height: 70%;
    bottom: 0%;
    left: -31%;
}

.amigos-content-frame-2 {
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 7%;
    right: 0%;
}

.page-1.frame-2 .amigos-content-frame-2 img:nth-child(1) {
    width: auto;
    height: 63%;
    bottom: 18%;
    left: 4%;
}

.page-1.frame-2 .amigos-content-frame-2 img:nth-child(2) {
    width: auto;
    height: 65%;
    bottom: 20%;
    right: 7%;
}

.vale-cometa-content {
    position: absolute;
    width: 100%;
    height: 73%;
    bottom: 12%;
    right: 0%;
}

.page-1.frame-2 .vale-cometa-content img:nth-child(1) {
    width: auto;
    height: 34%;
    bottom: 18%;
    left: 38%;
}

.page-1.frame-2 .vale-cometa-content img:nth-child(2) {
    width: auto;
    height: 67%;
    top: -2%;
    left: 32%;
}


/* Frame 3 */

.page-1.frame-3 {
    background-color: #9d9c9c;
    position: relative;
    width: 13vw;
    height: 31vh;
    bottom: 0%;
    margin-top: 1%;
    margin-left: 1%;
}

.page-1.frame-3 img:nth-child(1) {
    width: auto;
    height: 100%;
    bottom: 0%;
    right: 0%;
}

.page-1.frame-3 img:nth-child(2) {
    width: auto;
    height: 35%;
    bottom: 0%;
    left: -85%;
}

.vale-content-frame-3 {
    position: absolute;
    width: 100%;
    height: 83%;
    top: 21%;
    right: 3%;
}

.page-1.frame-3 .vale-content img:nth-child(1) {
    width: auto;
    height: 100%;
    bottom: 0%;
    right: 0%;
}


/* Frame 4 y 5 */

.segundo-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 43%;
    bottom: 21%;
    left: 0%;
}

.page-1.frame-4 {
    /* background-color: #9d9c9c; */
    position: relative;
    width: 71vw;
    height: 26vh;
    top: -16%;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    display: flex;
    overflow: hidden;
}

.p1-f4-frame-container-1 {
    width: 62.5%;
    height: 99%;
    left: 1%;
    top: 0.5%;
    clip-path: polygon(0 0, 70% 0, 47% 99%, 0% 100%);
    position: absolute;
}

.page-1.frame-4 .p1-f4-frame-container-1 img:nth-child(1) {
    width: 76%;
    height: auto;
    left: 0%;
    top: -17%;
}

.amigos-content {
    position: absolute;
    width: 49%;
    height: 67%;
    top: 0%;
    right: 26%;
}

.page-1.frame-4 .p1-f4-frame-container-1 .amigos-content img:nth-child(1) {
    width: auto;
    height: 51%;
    left: 29%;
    top: 15%;
}

.vale-content {
    position: absolute;
    width: 45%;
    height: 66%;
    bottom: 5%;
    left: 0%;
}

.page-1.frame-4 .p1-f4-frame-container-1 .vale-content img:nth-child(1) {
    width: auto;
    height: 88%;
    left: 5%;
    top: 15%;
}

.page-1.frame-4 .p1-f4-frame-container-1 .vale-content img:nth-child(2) {
    width: auto;
    height: 10%;
    left: 13%;
    top: 36%;
}

.p1-f5-frame-container-2 {
    width: 70.5%;
    height: 98.5%;
    right: 0.5%;
    top: 0.7%;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 1% 99%);
    position: absolute;
    z-index: 1;
}

.page-1.frame-4 .p1-f5-frame-container-2 img:nth-child(1) {
    width: 100%;
    height: auto;
    right: 0%;
    bottom: 0%;
}

.padres-content-frame-5 {
    position: absolute;
    width: 80%;
    height: 100%;
    bottom: 0%;
    right: 0%;
}

.page-1.frame-4 .padres-content-frame-5 img:nth-child(1) {
    width: 35%;
    height: auto;
    right: 57%;
    top: 29%;
}

.page-1.frame-4 .padres-content-frame-5 img:nth-child(2) {
    width: 33%;
    height: auto;
    right: 25%;
    top: 6%;
}

.divicion-content {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0%;
    left: 26%;
}

.page-1.frame-4 .divicion-content img:nth-child(1) {
    width: 41%;
    height: auto;
    right: 51%;
    top: -5%;
}

.tercer-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 34.2%;
    bottom: 0%;
    left: 0%;
}


/* frame 6 */

.page-1.frame-6 {
    background-color: #9d9c9c;
    position: relative;
    width: 20vw;
    height: 31vh;
    left: 0%;
    /* top: 5%; */
    bottom: 2%;
    margin: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    display: flex;
    overflow: hidden;
}

.page-1.frame-6 img:nth-child(1) {
    width: 102%;
    height: auto;
    bottom: 0%;
    right: -1%;
}

.padres-content {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0%;
    left: 0%;
}

.page-1.frame-6 .padres-content img:nth-child(1) {
    width: auto;
    height: 87%;
    bottom: 0%;
    left: 19%;
}

.page-1.frame-6 .padres-content img:nth-child(2) {
    width: auto;
    height: 98%;
    bottom: 0%;
    right: 21%;
}

.page-1.frame-6 .padres-content img:nth-child(3) {
    width: auto;
    height: 30%;
    bottom: 85%;
    left: 6%;
}

.page-1.frame-6 .padres-content img:nth-child(4) {
    width: auto;
    height: 30%;
    bottom: 92%;
    right: 19%;
}


/* Frame 7 */

.page-1.frame-7 {
    background-color: #9d9c9c;
    position: relative;
    width: 22vw;
    height: 31vh;
    /* top: 5%; */
    left: 1%;
    bottom: 2%;
    /* margin: auto; */
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    display: flex;
    overflow: hidden;
}

.page-1.frame-7 img:nth-child(1) {
    width: 102%;
    height: auto;
    bottom: 0%;
    right: -1%;
}

.padres-content-frame-6 {
    position: absolute;
    width: 100%;
    height: 58%;
    bottom: 20%;
    left: 0%;
}

.page-1.frame-7 .padres-content-frame-6 img:nth-child(1) {
    width: auto;
    height: 72%;
    bottom: 3%;
    left: 1%;
}

.page-1.frame-7 .padres-content-frame-6 img:nth-child(2) {
    width: auto;
    height: 82%;
    bottom: 3%;
    right: 58%;
}

.vale-content-frame-6 {
    position: absolute;
    width: 50%;
    height: 46%;
    bottom: 4%;
    right: 7%;
}

.page-1.frame-7 .vale-content-frame-6 img:nth-child(1) {
    width: auto;
    height: 72%;
    bottom: 0%;
    right: 0%;
}

.page-1.frame-7 .vale-content-frame-6 img:nth-child(2) {
    width: auto;
    height: 72%;
    bottom: 64%;
    right: 4%;
}

.page-1.frame-7 .vale-content-frame-6 img:nth-child(3) {
    width: auto;
    height: 16%;
    bottom: 88%;
    right: 14%;
}