.text{
  width: 100%;
  height: 70%;
  top: 0%;
  left: 0%;
  position: absolute;
}
.frame-3 {
  width: 90%;
  height: 77%;
  bottom: 1%;
  right: 0.7%;
  background: #b0d3de;
  position: absolute;
  overflow: hidden;
  /* border: 0.2em solid #000000; */
}
.frame-3 img:nth-child(1){
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0%;
}
.frame-3 .text img:nth-child(1){
  width: 39%;
  height: auto;
  left: 1%;
  top: 15%;
  bottom: auto;
}
.frame-3 .text img:nth-child(2){
  width: 15%;
  height: auto;
  right: 34%;
  top: 19%;
}
.frame-3 .text img:nth-child(3){
  width: 21%;
  height: auto;
  right: 1%;
  top: 51%;
}
.frame-3 .text img:nth-child(4){
  width: 26%;
  height: auto;
  left: 0%;
  top: 35%
}
.frame-3 .text img:nth-child(5){
  width: 16%;
  height: auto;
  right: 40%;
  top: 0%;
}
.frame-3 .mother{
  width: 15%;
  height: 53%;
  left: 17%;
  bottom: 1%;
  top: auto;
  position: absolute;
}
.frame-3 .mother img:nth-child(1){
  width: 100%;
  height: auto;
  left: 0%;
  top: auto;
  bottom: 0;
}
.mother-mouth{
  width: 17.1%;
  height: 10%;
  position: absolute;
  left: 47%;
  bottom: 56%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: mother-mouth 4s infinite cubic-bezier(1, -0.07, 0.22, 1.02);
}
.frame-3 .mother-eyes{
  width: 53%;
  height: 15%;
  right: 18%;
  top: 22%;
  position: absolute;
}
.frame-3 .mother .mother-eyes img:nth-child(1){
  width: 100%;
  height: auto;
  right: 0%;
  top: 0%;
}
.frame-3 .mother .mother-eyes img:nth-child(2){
  width: 80%;
  height: auto;
  right: 7%;
  top: 10%;
  left: auto;
  transform-origin: center;
  animation: mother-eye-pupils 10s infinite ease;
}
.frame-3 .mother .mother-eyes img:nth-child(3){
  width: 135%;
  height: auto;
  right: -20%;f
  top: -4%;
  left: auto;
}
.frame-3 .father{
  width: 16%;
  height: 65%;
  left: 27%;
  right: auto;
  bottom: 4%;
  top: auto;
  position: absolute;
}
.frame-3 .father img:nth-child(1){
  width: 88%;
  height: auto;
  left: 0%;
  top: auto;
  bottom: 0%;
}
.father-face{
  width: 100%;
  height: 38%;
  left: 0%;
  right: auto;
  top: 8%;
  /* top: auto; */
  position: absolute;
}
.frame-3 .father .father-face img:nth-child(1){
  width: 15%;
  height: auto;
  left: 24%;
  top: 31%;
  bottom: auto;
  transform-origin: left bottom;
  animation: eyerbrowns 2s infinite ease;
}
.frame-3 .father .father-face img:nth-child(2){
  width: 15%;
  height: auto;
  right: 23%;
  top: 31%;
  transform-origin: right bottom;
  animation: eyerbrowns-2 2s infinite ease;
}
.frame-3 .father-face .fother-mostach{
  width: 35%;
  height: 13%;
  bottom: 17%;
  left: 32%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform-origin: center;
  animation: fother-mostach 1.5s infinite ease;
}
.frame-3 .father-face .father-eyes{
  width: 62%;
  height: 25%;
  right: 23%;
  top: 49%;
  position: absolute;
}
.frame-3 .father .father-eyes img:nth-child(1){
  width: 83%;
  height: auto;
  right: 0%;
  left: auto;
  top: 0%;
  bottom: auto;
  animation: none;
}
.frame-3 .father .father-eyes img:nth-child(2){
  width: 69%;
  height: auto;
  right: 10%;
  top: 16%;
  left: auto;
  transform-origin: center;
  animation: father-eye-pupils 8s infinite ease;
}
.frame-3 .vale img:nth-child(1){
  width: 65%;
  height: auto;
  left: 18%;
  bottom: 0%;
  top: auto;
  position: absolute;
}
.frame-3 .vale{
  width: 17%;
  height: 46%;
  right: 9%;
  bottom: 1%;
  top: auto;
  position: absolute;
}
.vale-head{
  width: 100%;
  height: 46%;
  right: -1%;
  top: -3%;
  position: absolute;
  transform-origin: bottom center;
  animation: vale-head 5s infinite ease;
}
.vale .vale-head img:nth-child(1){
  width: 90%;
  height: auto;
  right: 0%;
  left: auto;
  top: 0;
  bottom: auto;
}
.vale-body{
  width: 82%;
  height: 50%;
  right: 13%;
  bottom: auto;
  top: 22%;
  position: absolute;
  transform-origin: bottom center;
  animation: vale-breathing 5s infinite ease;
}
.vale .vale-body img:nth-child(1){
  width: 25%;
  height: auto;
  right: 14%;
  left: auto;
  top: 46.8%;
  transform-origin: top;
  animation: Shoulders-1 5s infinite ease;
}
.vale .vale-body img:nth-child(2){
  width: 25%;
  height: auto;
  left: 18%;
  top: 44.8%;
  right: auto;
  transform-origin: top;
  animation: Shoulders-2 5s infinite ease;
}
.vale .vale-body img:nth-child(3){
  width: 47%;
  height: auto;
  left: 29%;
  bottom: 0;
  right: auto;
  top: auto;
  /* transform-origin: bottom center;
  animation: vale-breathing 5s infinite ease; */
}
.frame-3 .vale-eyes{
  width: 43%;
  height: 27%;
  top: 55%;
  right: 36%;
  left: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: vale-eyes 2s infinite alternate ease-out;
}
.frame-3 .teacher{
  width: 16%;
  height: 56%;
  left: 50%;
  bottom: 7%;
  top: auto;
  position: absolute;
}
.teacher img:nth-child(1){
  width: 91%;
  height: auto;
  left: 0%;
  top: 5%;
}
.teacher-body{
  width: 100%;
  height: 72%;
  right: 0;
  bottom: 0;
  position: absolute;
}
.teacher-body img:nth-child(1){
  width: 34%;
  height: auto;
  right: 1%;
  left: auto;
  top: 0%;
  bottom: auto;
}
.teacher-body img:nth-child(2){
  width: 24%;
  height: auto;
  left: 10%;
  top: 4%;
}
.teacher-body img:nth-child(3){
  width: 65%;
  height: auto;
  left: 17%;
  top: -2.5%;
  bottom: auto;
}
.teacher-head{
  width: 100%;
  height: 29%;
  right: -0%;
  top: 0;
  position: absolute;
}
.teacher-head img:nth-child(1){
  width: 93%;
  height: auto;
  left: -6%;
  top: -55%;
  bottom: auto;
}
.teacher-face{
  width: 100%;
  height: 100%;
  right: -9%;
  top: -4%;
  position: absolute;
  transform-origin: bottom center;
  /* animation: vale-head 5s infinite ease; */
}
.frame-3 .teacher-eyes{
  width: 54%;
  height: 37%;
  top: 34%;
  right: 27%;
  left: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: teacher-eyes 2s infinite alternate ease-out;
}
.teacher-eyebrowns{
  width: 57%;
  height: 33%;
  top: 22%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}
.teacher-eyebrowns img:nth-child(1){
  width: 28%;
  height: auto;
  left: 0%;
  top: 0%;
}
.teacher-eyebrowns img:nth-child(2){
  width: 28%;
  height: auto;
  right: 6%;
  top: 0%;
}
.teacher-mouth {
  width: 16.1%;
  height: 22%;
  position: absolute;
  left: 39%;
  bottom: 4%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: teacher-mouth 5s infinite alternate cubic-bezier(1, -0.07, 0.22, 1.02);
}
.reloj{
  width: 10%;
  height: 17%;
  top: 14.8%;
  left: 2%;
  position: absolute;
}
.frame-3 .reloj img:nth-child(1){
  width: 100%;
  height: auto;
  top: 0;
  left: 0%;
}
.frame-3 .reloj img:nth-child(2){
  width: 18%;
  height: auto;
  top: 50.7%;
  left: 49%;
  transform-origin: 8.4% 4.8%;
  transform: rotateZ(0deg);
  animation: minutes 3600s steps(60) infinite;
}
.frame-3 .reloj img:nth-child(3){
  width: 11%;
  height: auto;
  top: 22%;
  left: 40.1%;
  transform-origin: 96.0% 95.5%;
  transform: rotateZ(0deg);
  animation: seconds 60s steps(60) infinite;
}
.teacher-mouth {
  width: 16.1%;
  height: 22%;
  position: absolute;
  left: 39%;
  bottom: 3%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: teacher-mouth 4s infinite cubic-bezier(1, -0.07, 0.22, 1.02);
}
@keyframes minutes {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes seconds {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes vale-eyes {
  0% {
      background-image: url("../img/frame3/ojos-vale-1.png");
  }
  5% {
      background-image: url("../img/frame3/ojos-vale-2.png");
  }
  10%{
    background-image: url("../img/frame3/ojos-vale-3.png");
  }
  100% {
    background-image: url("../img/frame3/ojos-vale-3.png");
  }
}
@keyframes vale-head{
  0%{ transform: rotate(0deg);}
  5% { transform: rotate(3deg);}
  10% { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}
@keyframes Shoulders-1{
  0%{ transform: rotate(0deg);}
  5% { transform: rotate(-5deg);}
  10% { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}
@keyframes Shoulders-2{
  0%{ transform: rotate(0deg);}
  5% { transform: rotate(5deg);}
  10% { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}
@keyframes vale-breathing{
  0%{ transform: scale(1);}
  25% { transform: scale(1.02);}
  60% { transform: scale(1);}
  100% { transform: scale(1);}
}
@keyframes father-eye-pupils {
  0%{transform: translate(0%);}
  50%{transform: translate(3%);}
  100%{transform: translate(0%);}
}
@keyframes mother-eye-pupils {
  0%{transform: translate(-2%);}
  50%{transform: translate(0%);}
  100%{transform: translate(-2%);}
}
@keyframes eyerbrowns{
  0%{ transform: rotate(0deg);}
  5% { transform: rotate(5deg);}
  100% { transform: rotate(0deg);}
}
@keyframes eyerbrowns-2{
  0%{ transform: rotate(5deg);}
  5% { transform: rotate(0deg);}
  100% { transform: rotate(5deg);}
}
@keyframes father-eye-pupils {
  0%{transform: translate(0%);}
  50%{transform: translate(3%);}
  100%{transform: translate(0%);}
}
@keyframes mother-eye-pupils {
  0%{transform: translate(-2%);}
  50%{transform: translate(0%);}
  100%{transform: translate(-2%);}
}
@keyframes eyerbrowns{
  0%{ transform: rotate(0deg);}
  5% { transform: rotate(5deg);}
  100% { transform: rotate(0deg);}
}
@keyframes eyerbrowns-2{
  0%{ transform: rotate(5deg);}
  5% { transform: rotate(0deg);}
  100% { transform: rotate(5deg);}
}
@keyframes fother-mostach{
  0% { background-image: url("../img/frame4y5/bigote-papa-1.png");}
  5% { background-image: url("../img/frame4y5/bigote-papa-2.png");}
  8% { background-image: url("../img/frame4y5/bigote-papa-3.png");}
  12% { background-image: url("../img/frame4y5/bigote-papa-2.png");}
  15% { background-image: url("../img/frame4y5/bigote-papa-1.png");}
  100% { background-image: url("../img/frame4y5/bigote-papa-1.png");}
}

@keyframes teacher-mouth {
  0% {
    background-image: url(../img/page-2/sec3-frame-2/boca-maestra-3.png);
  }
  2% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  4% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  6% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  8% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-3.png);
  }
  10% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  12% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  14% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  16% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-3.png);
  }
  18% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  30% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  32% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  34% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-3.png);
  }
  36% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  38% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  40% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-3.png);
  }
  42% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-2.png);
  }
  44% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  46% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  48% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
  100% {
      background-image: url(../img/page-2/sec3-frame-2/boca-maestra-1.png);
  }
}
@keyframes teacher-eyes {
  0% {
    background-image: url(../img/page-2/sec3-frame-2/ojo-maestra-1.png);
  }
  5% {
      background-image: url(../img/page-2/sec3-frame-2/ojo-maestra-2.png);
  }
  10% {
      background-image: url(../img/page-2/sec3-frame-2/ojo-maestra-3.png);
  }
  15% {
      background-image: url(../img/page-2/sec3-frame-2/ojo-maestra-2.png);
  }
  20%, 100% {
      background-image: url(../img/page-2/sec3-frame-2/ojo-maestra-1.png);
  }
}
@keyframes mother-mouth {
  0% {
    background-image: url(../img/frame4y5/boca_mama1.png);
  }
  2% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  4% {
      background-image: url(../img/frame4y5/boca_mama3.png);
  }
  6% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  8% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  10% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  12% {
      background-image: url(../img/frame4y5/boca_mama3.png);
  }
  14% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  16% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  18% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  30% {
      background-image: url(../img/frame4y5/boca_mama3.png);
  }
  32% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  34% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  36% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  38% {
      background-image: url(../img/frame4y5/boca_mama3.png);
  }
  40% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  42% {
      background-image: url(../img/frame4y5/boca_mama2.png);
  }
  44% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  46% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  48% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
  100% {
      background-image: url(../img/frame4y5/boca_mama1.png);
  }
}
