.page-1.frame-7 {
    background-color: #9d9c9c;
    position: relative;
    width: 33vw;
    height: 60vh;
    top: 5%;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    overflow: hidden;
}

.page-1.frame-7 img:nth-child(1) {
    width: 102%;
    height: auto;
    bottom: 0%;
    right: -1%;
}

.padres-content {
    position: absolute;
    width: 100%;
    height: 58%;
    bottom: 20%;
    left: 0%;
}

.page-1.frame-7 .padres-content img:nth-child(1) {
    width: auto;
    height: 72%;
    bottom: 3%;
    left: 1%;
}

.page-1.frame-7 .padres-content img:nth-child(2) {
    width: auto;
    height: 82%;
    bottom: 3%;
    right: 58%;
}

.vale-content {
    position: absolute;
    width: 50%;
    height: 46%;
    bottom: 4%;
    right: 7%;
}

.page-1.frame-7 .vale-content img:nth-child(1) {
    width: auto;
    height: 72%;
    bottom: 0%;
    right: 0%;
}

.page-1.frame-7 .vale-content img:nth-child(2) {
    width: auto;
    height: 72%;
    bottom: 64%;
    right: 4%;
}

.page-1.frame-7 .vale-content img:nth-child(3) {
    width: auto;
    height: 16%;
    bottom: 88%;
    right: 14%;
}