.inner-box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* FRAME 1 */

.frame-1{
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0%;
  border: 0.2em solid #000000;
  background: #b0d3de;
  position: absolute;
  overflow: hidden;
}
.school{
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
}
.back-frame-1{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: auto 80%;
  background-image: url("../img/frame1/cielo.png");
  background-repeat: repeat-x;
  animation: back-frame-1 300s infinite linear;
}
.frame-1 .school img:nth-child(1){
  width: auto;
  height: 61%;
  left: -19%;
  bottom: 0;
}
.frame-1 .school img:nth-child(2){
  width: auto;
  height: 52%;
  left: 0;
  bottom: 10%;
}
.frame-1 .school img:nth-child(3){
  width: 54%;
  height: auto;
  right: 8%;
  bottom: 23%;
}
.frame-1 .school img:nth-child(4){
  width: 20%;
  height: auto;
  left: 18%;
  bottom: 10%;
}
.sun {
  width: 35%;
  height: 35%;
  right: 5%;
  top: -7%;
  position: absolute;
}
.frame-1 .sun img:nth-child(1){
  width: 100%;
  height: auto;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform-origin: center;
  filter: blur(2px);
  animation: sun-f1 5s infinite linear;
}
.frame-1 .sun img:nth-child(2){
  width: 100%;
  height: auto;
  right: 0%;
  left: auto;
  bottom: 0;
  opacity: 0;
  transform-origin: center;
  filter: blur(1px);
  animation: sun-f1 5s 1s infinite linear;
}
.frame-1 .sun img:nth-child(3){
  width: 100%;
  height: auto;
  right: -1%;
  left: auto;
  bottom: 0;
  filter: blur(1px);
}
.text{
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
}
.frame-1 .text img:nth-child(1){
  width: 75%;
  height: auto;
  left: 1%;
  top: 15%;
}
.frame-1 .text img:nth-child(2){
  width: 75%;
  height: auto;
  right: 0%;
  top: 37%;
}
.frame-1 .vale{
  width: 27%;
  height: 18%;
  left: 20%;
  bottom: 7%;
  position: absolute;
}
.frame-1 .vale img:nth-child(1){
  width: 100%;
  height: auto;
  right: 0%;
  bottom: 0%;
  left: auto;
}
.frame-1 .vale img:nth-child(2){
  width: auto;
  height: 14%;
  left: 17%;
  top: 34%;
  bottom: auto;
}
.frame-1 .vale img:nth-child(3){
  width: auto;
  height: 9%;
  left: 17%;
  top: 34%;
  right: auto;
  bottom: auto;
  transform-origin: center;
  animation: eye-pupils 5s infinite ease;
}
@keyframes eye-pupils {
  0%{transform: translateX(0%);}
  50%{transform: translateX(5%);}
  100%{transform: translateX(0%);}
}
@keyframes back-frame-1 {
  100% {
    background-position: 1104px 0px;
  }
}
@keyframes sun-f1 {
  0%{transform: scale(0.99); opacity: 0;}
  25%{transform: scale(1.03); opacity: 0.3;}
  50%{transform: scale(1.05); opacity: 0.5;}
  75%{transform: scale(1.03); opacity: 0.3;}
  100%{transform: scale(1.05); opacity: 0;}
}
